extends ./base

block body
    nav.uk-navbar-container(uk-navbar, style="height: 48px;")
        .uk-navbar-left
            ul.uk-navbar-nav
                li.uk-active
                    a(href='/')= __("header.index")
        .uk-navbar-right
            ul.uk-navbar-nav
                if !user
                    li
                        a(href="/auth/login")= __("header.login")
                    li
                        a(href="/auth/register")= __("header.register")
                else
                    li
                        a(href="/dashboard")= __("header.dashboard")
                    li
                        a(href="#")= user.username
                        .uk-navbar-dropdown(uk-dropdown="offset: -16", style="padding-top: 10px; padding-bottom: 10px;")
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li
                                    a(href='/auth/settings')
                                        span(uk-icon="icon: settings", style="padding-right: 10px")
                                        = __("header.settings")
                                li
                                    a(href='/auth/logout')
                                        span(uk-icon="icon: sign-out", style="padding-right: 10px")
                                        = __("header.sign-out")
    block main
